body {
  font-family: ClashGrotesk-Variable, sans-serif;
  display: block;
  margin: 0;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}


canvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}


