body {
  font-family: ClashGrotesk-Variable, sans-serif;
  display: block;
  margin: 0;
  padding: 0px;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0; /* o -1 se vuoi altri contenuti sopra */
}

#scroll-space {
  pointer-events: none;
  opacity: 0;
}

